.about{
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .info-container{
            flex:1 1 42rem;

         h1{
             font-size: 4rem;
             color: white;
             text-transform: uppercase;
             padding-bottom: 1rem;
         }
         .box-container{
             padding: 1rem 0;
             display: flex;
             flex-wrap: wrap;
             gap:2rem;
             .box{
                 flex:1 1 20rem;
                 h3{
                 font-size: 1.7rem;
                 color: white;
                 padding: 1rem 0;
                 font-weight: normal;
                 }
             }
         }
        }
    }
}