.about {
   span{
       color: orange;
   } 
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .info-container {
      flex: 1 1 42rem;
      padding-bottom: 2rem;

      h1 {
        font-size: 4rem;
        color: white;
        text-transform: uppercase;
        padding-bottom: 1rem;
      }
      .box-container {
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .box {
          flex: 1 1 20rem;
          h3 {
            font-size: 1.7rem;
            color: white;
            padding: 1rem 0;
            font-weight: normal;
          }
        }
      }
      
    }
    .count-container {
        flex: 1 1 42rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .box {
          flex: 1 1 20rem;
          padding: 3rem 4rem 3rem 3rem;
          border-radius: 0.5rem;
          background: $light-bg;
          $box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.7);

          h3 {
            font-size: 5rem;
            color: $crimson;
          }
          p{
              padding-top: 1rem;
              font-size: 2rem;
              color: $light-color;
          }
        }
      }
  }
}

.skills{
    .box-container{
        // @include grid
    }
}