.contact{

    .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap:2rem;
}
.info-container{
    width:40rem;

    h1{
      font-size: 3rem;
      text-transform: uppercase;
      color:$white;
      padding-bottom: 1rem;
    }